<%- include("./partials/header")%>
<!--  -->
<div
  class="wrapper h-[100%] w-[100%] flex flex-col items-center justify-between"
>
  <div
    class="logo w-[100%] h-[15vh] border-b border-white/25 flex items-center justify-center"
  >
    <a href="/profile">
      <h1 class="text-5xl text-blue-400">
        <i class="ri-svelte-line"></i>ShareShack
      </h1></a
    >
  </div>
  <div class="h-[85vh] w-[100%] flex items-center justify-center">
    <form
      action="/reset-password/<%=user._id%>"
      method="post"
      class="border border-white/25 w-[30%] h-[60%] rounded-xl"
    >
      <div
        class="h-[20%] w-full flex flex-col items-start justify-evenly pl-[1vmax]"
      >
        <h2 class="text-white/60">Hey, @<%=user.username%></h2>
        <h1 class="font-semibold text-2xl">Reset Your Password.</h1>
      </div>
      <div class="h-[13%] w-full pl-[1vmax]">
        <h1 class="text-[0.85vmax] text-white/60">
          To Reset Your Password, You Need to Enter Your Current/Existing
          Password. Then enter your new password.
        </h1>
      </div>
      <div
        class="h-[67%] w-full flex flex-col items-center justify-evenly"
      >
        <input
          type="password"
          placeholder="Existing Password"
          name="oldpassword"
          class="w-[80%] h-[15%] rounded-md placeholder:text-center text-black text-center"
        />
        <input
          type="password"
          placeholder="New Password"
          name="newpassword"
          class="w-[80%] h-[15%] rounded-md placeholder:text-center text-black text-center"
        />
        <button class="border border-blue-400 w-[60%] h-[15%] rounded-lg text-white bg-blue-400/80">Reset Password</button>
      </div>
    </form>
  </div>
</div>
<!--  -->
<%- include("./partials/footer")%>
